Logistic Regression

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import sklearn

In [51]:
# check scikit-learn version

print('sklearn: %s' % sklearn.__version__)

sklearn: 0.21.2

In [52]:
data = pd.read_csv(r"C:/Users/17703/Project-3/CA.csv", encoding="utf-8")
data.count()

Selected             2102
Zip                  2102
Term                 2102
NoEmp                2102
NewExist             2101
CreateJob            2102
RetainedJob          2102
FranchiseCode        2102
UrbanRural           2102
DisbursementGross    2102
BalanceGross         2102
GrAppv               2102
SBA_Appv             2102
New                  2102
RealEstate           2102
Portion              2102
Recession            2102
daysterm             2102
Default              2102
dtype: int64

In [53]:
data.head()

,Selected,Zip,Term,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,UrbanRural,DisbursementGross,BalanceGross,GrAppv,SBA_Appv,New,RealEstate,Portion,Recession,daysterm,Default
0,0,92801,36,1,1.0,0,0,1,0,32812,0,30000,15000,0,0,0.5,0,1080,0
1,1,90505,56,1,1.0,0,0,1,0,30000,0,30000,15000,0,0,0.5,1,1680,0
2,0,92103,36,10,1.0,0,0,1,0,30000,0,30000,15000,0,0,0.5,0,1080,0
3,1,92108,36,6,1.0,0,0,1,0,50000,0,50000,25000,0,0,0.5,0,1080,0
4,1,91345,240,65,1.0,3,65,1,1,343000,0,343000,343000,0,1,1.0,0,7200,0

In [5]:
# # replacing na values
# data["RevLineCr"].fillna("Y", inplace = True)

In [6]:
# # replacing na values in college with No college 
# data["LowDoc"].fillna("N", inplace = True)

In [33]:
# # replacing na values in college with No college 
# data["Bank"].fillna("Bank", inplace = True)

In [54]:
# replacing na values in college with No college 
data["NewExist"].fillna("1.0", inplace = True)

In [55]:
null_counts = data.isnull().sum()
null_counts #data.shape[0]

Selected             0
Zip                  0
Term                 0
NoEmp                0
NewExist             0
CreateJob            0
RetainedJob          0
FranchiseCode        0
UrbanRural           0
DisbursementGross    0
BalanceGross         0
GrAppv               0
SBA_Appv             0
New                  0
RealEstate           0
Portion              0
Recession            0
daysterm             0
Default              0
dtype: int64

In [56]:
data.dropna()
data.head()

,Selected,Zip,Term,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,UrbanRural,DisbursementGross,BalanceGross,GrAppv,SBA_Appv,New,RealEstate,Portion,Recession,daysterm,Default
0,0,92801,36,1,1,0,0,1,0,32812,0,30000,15000,0,0,0.5,0,1080,0
1,1,90505,56,1,1,0,0,1,0,30000,0,30000,15000,0,0,0.5,1,1680,0
2,0,92103,36,10,1,0,0,1,0,30000,0,30000,15000,0,0,0.5,0,1080,0
3,1,92108,36,6,1,0,0,1,0,50000,0,50000,25000,0,0,0.5,0,1080,0
4,1,91345,240,65,1,3,65,1,1,343000,0,343000,343000,0,1,1.0,0,7200,0

In [57]:
null_counts = data.isnull().sum()
null_counts #data.shape[0]

Selected             0
Zip                  0
Term                 0
NoEmp                0
NewExist             0
CreateJob            0
RetainedJob          0
FranchiseCode        0
UrbanRural           0
DisbursementGross    0
BalanceGross         0
GrAppv               0
SBA_Appv             0
New                  0
RealEstate           0
Portion              0
Recession            0
daysterm             0
Default              0
dtype: int64

In [58]:
data.dropna( axis=0, how='any', thresh=None, subset=None, inplace=False)
data.head()

,Selected,Zip,Term,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,UrbanRural,DisbursementGross,BalanceGross,GrAppv,SBA_Appv,New,RealEstate,Portion,Recession,daysterm,Default
0,0,92801,36,1,1,0,0,1,0,32812,0,30000,15000,0,0,0.5,0,1080,0
1,1,90505,56,1,1,0,0,1,0,30000,0,30000,15000,0,0,0.5,1,1680,0
2,0,92103,36,10,1,0,0,1,0,30000,0,30000,15000,0,0,0.5,0,1080,0
3,1,92108,36,6,1,0,0,1,0,50000,0,50000,25000,0,0,0.5,0,1080,0
4,1,91345,240,65,1,3,65,1,1,343000,0,343000,343000,0,1,1.0,0,7200,0

In [42]:
# data["Bank"] = data["Bank"].astype(str)
# data.head()

In [59]:
data["Zip"] = data["Zip"].astype(str)
data.head()

,Selected,Zip,Term,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,UrbanRural,DisbursementGross,BalanceGross,GrAppv,SBA_Appv,New,RealEstate,Portion,Recession,daysterm,Default
0,0,92801,36,1,1,0,0,1,0,32812,0,30000,15000,0,0,0.5,0,1080,0
1,1,90505,56,1,1,0,0,1,0,30000,0,30000,15000,0,0,0.5,1,1680,0
2,0,92103,36,10,1,0,0,1,0,30000,0,30000,15000,0,0,0.5,0,1080,0
3,1,92108,36,6,1,0,0,1,0,50000,0,50000,25000,0,0,0.5,0,1080,0
4,1,91345,240,65,1,3,65,1,1,343000,0,343000,343000,0,1,1.0,0,7200,0

In [15]:
# data.groupby("Zip").count().sort_values(ascending=False, by = "Default")

In [16]:
#data[data['Zip'].value_counts()]>8

In [60]:
pd.get_dummies(data)

,Selected,Term,NoEmp,CreateJob,RetainedJob,FranchiseCode,UrbanRural,DisbursementGross,BalanceGross,GrAppv,...,Zip_96080,Zip_96093,Zip_96120,Zip_96130,Zip_96145,Zip_96161,NewExist_0.0,NewExist_1.0,NewExist_2.0,NewExist_1.0
0,0,36,1,0,0,1,0,32812,0,30000,...,0,0,0,0,0,0,0,1,0,0
1,1,56,1,0,0,1,0,30000,0,30000,...,0,0,0,0,0,0,0,1,0,0
2,0,36,10,0,0,1,0,30000,0,30000,...,0,0,0,0,0,0,0,1,0,0
3,1,36,6,0,0,1,0,50000,0,50000,...,0,0,0,0,0,0,0,1,0,0
4,1,240,65,3,65,1,1,343000,0,343000,...,0,0,0,0,0,0,0,1,0,0
5,1,84,1,0,0,1,0,55825,0,50000,...,0,0,0,0,0,0,0,1,0,0
6,0,269,2,0,2,1,1,297500,0,297500,...,0,0,0,0,0,0,0,1,0,0
7,0,84,1,2,1,1,2,67047,0,30000,...,0,0,0,0,0,0,0,0,1,0
8,0,22,5,0,0,1,1,50000,0,50000,...,0,0,0,0,0,0,0,1,0,0
9,1,84,4,0,0,1,1,17500,0,10000,...,0,0,0,0,0,0,0,0,1,0
10,1,64,6,0,0,1,1,50000,0,50000,...,0,0,0,0,0,0,0,1,0,0
11,1,84,1,0,0,1,1,17536,0,14000,...,0,0,0,0,0,0,0,1,0,0
12,0,84,12,0,0,1,1,33276,0,25000,...,0,0,0,0,0,0,0,1,0,0
13,1,76,2,0,2,1,2,30000,0,30000,...,0,0,0,0,0,0,0,0,1,0
14,1,60,8,0,0,1,1,30502,0,30000,...,0,0,0,0,0,0,0,1,0,0
15,1,60,13,7,20,1,1,25000,0,25000,...,0,0,0,0,0,0,0,0,1,0
16,1,84,1,0,0,1,1,20000,0,20000,...,0,0,0,0,0,0,0,1,0,0
17,0,300,15,0,0,1,0,1000000,0,1000000,...,0,0,0,0,0,0,0,1,0,0
18,1,38,2,0,0,1,1,10097,0,10000,...,0,0,0,0,0,0,0,0,1,0
19,1,84,22,0,0,1,1,10000,0,10000,...,0,0,0,0,0,0,0,1,0,0
20,1,240,13,8,0,1,1,79000,0,79000,...,0,0,0,0,0,0,0,1,0,0
21,0,240,13,8,0,1,1,249000,0,249000,...,0,0,0,0,0,0,0,1,0,0
22,1,62,2,0,0,1,1,4999,0,10000,...,0,0,0,0,0,0,0,1,0,0
23,1,84,3,0,3,1,2,59450,0,30000,...,0,0,0,0,0,0,0,0,1,0
24,1,84,3,0,0,1,1,25530,0,20000,...,0,0,0,0,0,0,0,1,0,0
25,0,67,12,0,0,1,1,50000,0,50000,...,0,0,0,0,0,0,0,1,0,0
26,1,32,5,0,0,1,1,64000,0,50000,...,0,0,0,0,0,0,0,1,0,0
27,1,84,4,0,0,1,1,39000,0,10000,...,0,0,0,0,0,0,0,1,0,0
28,0,84,3,0,0,1,1,25000,0,25000,...,0,0,0,0,0,0,0,1,0,0
29,0,84,2,0,0,1,1,32697,0,25000,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2072,0,204,1,3,4,1,1,240000,0,240000,...,0,0,0,0,0,0,0,1,0,0
2073,1,36,5,5,10,1,1,60000,0,60000,...,0,0,0,0,0,0,0,1,0,0
2074,0,240,6,4,6,1,1,1435000,0,1435000,...,0,0,0,0,0,0,0,0,1,0
2075,0,276,10,8,2,1,1,1215000,0,1215000,...,0,0,0,0,0,0,0,1,0,0
2076,1,80,1,2,3,1,1,380229,0,95000,...,0,0,0,0,0,0,0,1,0,0
2077,1,60,1,0,1,1,1,30300,0,30000,...,0,0,0,0,0,0,0,1,0,0
2078,0,240,4,4,0,1,1,339000,0,357000,...,0,0,0,0,0,0,0,1,0,0
2079,0,48,2,0,2,1,2,32568,0,23500,...,0,0,0,0,0,0,0,0,1,0
2080,0,49,1,4,5,1,1,19984,0,15000,...,0,0,0,0,0,0,0,1,0,0
2081,0,84,10,0,0,1,0,500000,0,500000,...,0,0,0,0,0,0,0,1,0,0
2082,1,300,2,0,0,1,0,175000,0,175000,...,0,0,0,0,0,0,0,1,0,0
2083,1,210,2,0,0,1,0,62221,0,64000,...,0,0,0,0,0,0,0,1,0,0
2084,1,42,1,0,1,1,1,25000,0,25000,...,0,0,0,0,0,0,0,1,0,0
2085,0,84,25,25,25,1,1,350000,0,350000,...,0,0,0,0,0,0,0,1,0,0
2086,1,84,1,0,0,1,0,50000,0,50000,...,0,1,0,0,0,0,0,0,1,0
2087,0,84,14,0,14,1,2,49186,0,20000,...,0,0,0,0,0,0,0,1,0,0
2088,0,84,2,0,2,1,2,34817,0,21000,...,0,0,0,0,0,0,0,1,0,0
2089,0,300,1,0,0,69560,0,200000,0,200000,...,0,0,0,0,0,0,0,1,0,0
2090,1,45,1,0,1,1,1,15220,0,15000,...,0,0,0,0,0,0,0,1,0,0
2091,1,32,2,0,2,1,2,76353,0,30000,...,0,0,0,0,0,0,0,0,1,0
2092,0,54,2,0,0,1,1,12950,0,10000,...,0,0,0,0,0,0,0,0,1,0
2093,0,84,3,0,3,1,1,105766,0,100000,...,0,0,0,0,0,0,0,1,0,0
2094,0,84,3,0,3,1,2,92502,0,30000,...,0,0,0,0,0,0,0,1,0,0
2095,0,240,6,4,6,1,1,721000,0,721000,...,0,0,0,0,0,0,0,1,0,0
2096,0,240,28,8,28,1,1,1029000,0,1029000,...,0,0,0,0,0,0,0,1,0,0
2097,1,60,5,0,5,1,1,150000,0,150000,...,0,0,0,0,0,0,0,0,1,0
2098,1,300,4,0,0,1,0,99000,0,99000,...,0,0,0,0,0,0,0,1,0,0
2099,0,84,2,0,0,1,0,50000,0,50000,...,0,0,0,0,0,0,0,1,0,0
2100,1,120,3,0,0,1,0,251150,0,500000,...,0,0,0,0,0,0,0,1,0,0
2101,0,60,4,0,0,1,0,35000,0,35000,...,0,0,0,0,0,0,0,1,0,0

In [61]:
# Assign X (data) and y (target)
X = data.drop("Default", axis=1)
y = data["Default"]
print(X.shape, y.shape)

(2102, 18) (2102,)

In [62]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

In [63]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [64]:
classifier.fit(X_train, y_train)

C:\Users\17703\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [65]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.8204314720812182
Testing Data Score: 0.8326996197718631

In [ ]:

# from sklearn.ensemble import RandomForestClassifier

# #instantiating the model
# rfc = RandomForestClassifier(random_state=1, class_weight='balanced')

# #performing 3-fold cross validation
# predictions = cross_val_predict(rfc, features, target, cv=3)

# #convert predictions to pandas series
# predictions = pd.Series(predictions)

# #calculating false positive and true positive rate
# fp_filter = (predictions == 1) & (loans["default"] == 0)
# fp = len(predictions[fp_filter])

# # True positives.
# tp_filter = (predictions == 1) & (loans["default"] == 1)
# tp = len(predictions[tp_filter])

# # False negatives.
# fn_filter = (predictions == 0) & (loans["default"] == 1)
# fn = len(predictions[fn_filter])

# # True negatives
# tn_filter = (predictions == 0) & (loans["default"] == 0)
# tn = len(predictions[tn_filter])

# # Rates
# tpr = tp / (tp + fn)
# fpr = fp / (fp + tn)

# print(tpr)
# print(fpr)